
  div{
    display: block;
  }
  .layoutmain{
    margin: 3em 10em ;
  }
  
  .productdisplay{
    display: flex;
    flex-direction: row;
    max-width: 80rem;
  }
  .productdisplay-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
  .productdisplay-img-list{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
  }
  
  .productdisplay-img-list img{
    width: auto;
    max-width: 5em;
  }
  .list-image {
    object-fit: contain;
    max-width: 100%; 
    max-height: 100%; 
  }
  .list-image:hover{
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(1.05);
  }
  .productdisplay-main-img{
    max-width: 35em;
    width: auto;
  }

  .detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex: 1;
  }
   
  .name{
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    
  }
  .price{
    font-size: 1.5em;
    color: black;
    font-weight: 700px;
  }
  .price-symbol{
    display: inline-block;
      font-size: .75em;
      vertical-align: top;
  }
  .is-div{
    background-color: rgba(0,0,0,.1);
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
  }
  .des{
    font-size: 1.2em;
    color: black;
    padding-top: 1em;
    line-height: 30px;
  }
  .text1{
    line-height: 25px;
    color: grey;
  }
 .instock{
    color: green;

  } 
  .add-to-cart{
    background: #5ba4fc;
    color: #fff;
    width: 20rem;
    height: 3em;
    border-radius: 100px;
    text-align: center;
    margin-top: 1em;
    font-size: 20px;
    border-style: none;
  }
  .add-to-cart:hover{
    background: #4786d2;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
  
  .btn{
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
    
  }
.btn-add{
    border-style: none;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;
    background: #5ba4fc;
    color: #fff;
  }
  .btn-rm{
    border-style: none;
    width: 3em;
    height: 3em;
    justify-content: center;
    align-items: center;
    background: #b8b8b8;
    color: #000000;
  }
  .btn-add:hover{
    background: #a6ceff;
    color: #fff;
    cursor: pointer;
  }
  .btn-rm:hover{
    background: #cfcfcf;
    color: #000000;
    cursor: pointer;
  }

  input.quantity{
    border: 1px solid #b8b8b8;
    text-align: center; 
  }
  .quantity::-webkit-outer-spin-button,.quantity::-webkit-inner-spin-button{
    -webkit-appearance: none;
  } 
  aside{
    width: 40%;
    padding-left: 50px;
  }
  section{
    margin-top: 2em;
    border-top: 2px solid #b8b8b8;
  }

  .tab button{
    width: 300px;
    height: 40px;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    background-color: #a6ceff;
    border-color: #ffffff;
  }
  
  .tabcontent{
    display: none;
    padding: 5px 0px 10px;
  }
  .tag-cate{
    border-bottom: 2px solid#ddd;
    border-top: 2px solid#ddd;
    padding: 1em 0em 1em;
    margin: 1em 0em 1em;
  }
  .tag-cate a, .tag-cate p{
    color: #8b8a8a;
    display: block;
    padding: 5px 0;
  
  }
  .tag-cate span{
    color: #5ba4fc;
  }
  
  .table>tbody>tr>td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    word-wrap: break-word;
  }.table>tbody>tr:last-child{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 100%;
    overflow: auto;
    margin-top: 20px;
    
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td {
    display: table-cell;
    vertical-align: inherit;
    color: #333333;
  }
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
  
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #5ba4fc;
  }
  #grading div{
    color: #333333;
    padding-top: 5px;
  }
  #grading .grade-div{
    margin-top: 2em;
    border-top: 1px solid #ddd;
  }
