@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif !important;
}
  div{
    display: block;
  }

#main-product, #wrapper{
    position: relative;
}
#main-product{
    max-width: 1500px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
}

  @media screen and (min-width: 480px) {
    .col {
        flex-basis: 100%;
        max-width: 100%;
    }
}
  .productdisplay{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .productdisplay-left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
  }
  .productdisplay-img-list{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: auto;
  }
  
  .productdisplay-img-list img{
    width: auto;
    max-width: 5em;
  }
  .list-image {
    object-fit: contain;
    max-width: 100%; 
    max-height: 100%; 
  }
  .list-image:hover{
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(1.05);
  }
  .productdisplay-main-img{
    max-width: 35em;
    width: auto;
  }

  .detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    flex: 1;
  }
   
  .name{
    font-size: 2em;
    color: black;
    text-transform: uppercase;
    
  }
  .price{
    font-size: 1.5em;
    color: black;
    font-weight: 700px;
  }
  .price-symbol{
    display: inline-block;
      font-size: .75em;
      vertical-align: top;
  }
  .is-div{
    background-color: rgba(0,0,0,.1);
    display: block;
    height: 3px;
    margin: 1em 0;
    max-width: 30px;
    width: 100%;
  }
  .des{
    font-size: 1.2em;
    color: black;
    padding-top: 1em;
    line-height: 30px;
  }
  .tag-cate{
    border-bottom: 2px solid#ddd;
    border-top: 2px solid#ddd;
    padding: 1em 0em 1em;
    margin: 1em 0em 1em;
  }
  .tag-cate a, .tag-cate p{
    color: #8b8a8a;
    display: block;
    padding: 5px 0;
  
  }
  .tag-cate span{
    color: #5ba4fc;
  }
  .text1{
    line-height: 25px;
    color: grey;
  }
 .instock{
    color: green;

  } 
  .add-to-cart{
    background: #5ba4fc;
    color: #fff;
    width: 20rem;
    height: 3em;
    border-radius: 100px;
    text-align: center;
    margin-top: 1em;
    font-size: 20px;
    border-style: none;
  }
  .add-to-cart:hover{
    background: #4786d2;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
  }
  .btn-add{
    background: #5ba4fc;
    color: #e6e6ff;
  }
  .btn-rm{
    background: #b8b8b8;
    color: #000000;
  }
  button.btn-rm,
  button.btn-add {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .btn-add:hover{
    background: #a6ceff;
    color: #fff;
    cursor: pointer;
  }
  .btn-rm:hover{
    background: #cfcfcf;
    color: #000000;
    cursor: pointer;
  }
  .select-quantity-container {
    padding-top: 1em;
    display: flex;
    flex-wrap: wrap;
  }

p.quantity {
  border: 1px solid #b8b8b8;
  width: 3rem;
  height: 3rem;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
  aside{
    width: 40%;
    padding-left: 50px;
  }

/*Full detail of items*/
  section{
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
    width: 80%;

    margin-left: auto;
    margin-right: auto;
  }
/*tab*/
.tabs-titles {
  display: flex;
}

.tablinks {
  /* Reset */
  border: transparent;
  background: transparent;
  cursor: pointer;
  padding: 0 1rem;
  height: 2rem;
}

.tabs__line {
  background: #d1d5db;
  height: 2px;
  width: 100%;
  position: relative;
}

.tabs__indicator {
  background: #3b82f6;
  position: absolute;
  top: 0;
  bottom: 0;
  transition-duration: 200ms;
  transition-property: transform, width;
}

  
  .tabcontent{
    display: none;
    padding: 5px 0px 10px;
  }
/*table data about detail*/
  .table>tbody>tr>td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    word-wrap: break-word;
  }.table>tbody>tr:last-child{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    max-height: 100%;
    overflow: auto;
    margin-top: 20px;
    
  }
  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  td {
    display: table-cell;
    vertical-align: inherit;
    color: #333333;
  }
  li {
    display: list-item;
    text-align: -webkit-match-parent;
  }
  /*grading tab*/
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    color: #5ba4fc;
  }
  #grading div{
    color: #333333;
    padding-top: 5px;
  }
  #grading .grade-div{
    margin-top: 2em;
    border-top: 1px solid #ddd;
  }
 
