@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif !important;
}

#main, #wrapper{
    background-color: #fcfcfc;
    position: relative;
}
#main{
    max-width: 940px;
    margin: 0 auto;
}
.page-wrapper{
    padding-bottom: 30px;
    padding-top: 20px;
}
@media screen and (min-width: 850px) {
    .col {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.row, .information-to-seller{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.col{
    padding-bottom: 20px;
}
.text-center {
    text-align: center;
}
.text-center .is-divider{
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-size: 2em;
    color: #212529;;
}
h3 {
    font-size: 1.3em;
    color: #212529;;
}
h4 {
    color: #212529;;
    font-size: 1.2em;
}
h5 {
    color: #4636fc;
    font-size: 1.1em;
}
.header-style{
    font-weight: 700px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.is-divider {
    background-color: #60abfb69;
    display: block;
    height: 5px;
    margin: 1em 0;
    max-width: 60px;
    width: 100%;
}
.is-divider.large {
    background-color: #60abfb69;
    display: block;
    height: 5px;
    margin: 1em 0;
    width: 100%;
    max-width: 75em;
    box-shadow: 1px 2px 2px #ddd;
}


.quote{
    color: #4636fc;
}
.information-to-seller{
    justify-content: center;
    justify-content: space-around;
    margin-top: 10px;
}
.info-list>li{
    list-style-type: decimal;
}
.accept-list>li{
    list-style-type: circle;
}
.info-list,.accept-list,.item-grade,.box-grade{
    line-height: 1.8em;
    color: #333333;
}
.input-box input, .input-box select{
    border-radius: 50px;
    border: 1px solid#ddd;
    padding: 15px;
    max-width: 500px;
    width: 450px;
}

.input-address{
    padding: 10px 0;
    width: 100%;
    font-size: 15px;
    text-align: center;
}
.seller-input{
    display: grid;
    grid-auto-rows: max-content;
    grid-gap: 0;
    grid-column: span 12/span 12;
}
.seller-input p, .clone-form .btn-rm-form{
    padding-left: 5px;
    padding-bottom: 5px;
    color: #212529;
}
.frm_required {
    color: #b94a48;
    font-weight: 700;
}
.frm_optional{
    color: #7b7b7b;
    font-size: .7em;
    padding-left: 5px;
}
.small-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.input-box.mini{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;

}

.input-box-inner{
  margin-top: 20px;
}
.input-box-inner input, .input-box-inner select{
    width: 300px;
}
.large-box input{
    max-width: 940px;
    width: 100%;
    margin-bottom: 15px;
}
.clone-form{
    display: flex;
}
/*btn-28*/
.button-28 {

  appearance: none;
  background-color: #4636fc;
  border: 2px solid #4636fc;
  border-radius: 50px;
  box-sizing: border-box;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  margin: 20px 0px;
  width: 300px;
  outline: none;
  padding: 13px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #5170FD;
  border-color: #5170FD;
  transform: translateY(-1px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
/*btn-29*/
.button-29 {

    appearance: none;
    background-color: #ff000f;
    border: 2px solid #ff000f;
    border-radius: 50px;
    box-sizing: border-box;
    color: #fcfcfc;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
    margin: 20px 0px;
    width: 300px;
    outline: none;
    padding: 13px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-29:disabled {
    pointer-events: none;
  }
  
  .button-29:hover {
    color: #fff;
    background-color: #ff4a56;
    transform: translateY(-1px);
  }
  
  .button-29:active {
    box-shadow: none;
    transform: translateY(0);
  }
  

  .checkbox-wrapper-42 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-42 label {
    display: inline-block;
  }

  .checkbox-wrapper-42 .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  .checkbox-wrapper-42 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  .checkbox-wrapper-42 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
    border-color: transparent;
    background: #4636fc;
    animation: jelly-42 0.6s ease;
  }
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  .checkbox-wrapper-42 .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  @-moz-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @-o-keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }

