@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif !important;
}
.col{
    margin-bottom: 10px;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
}

.popup-inner {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.popup-container {
    animation: appear 250ms ease-in 1;
    display: flex;
    background-color: rgb(255, 255, 255);  
    width: 980px;
    height: 70vh; /* Adjust the height as needed */
}

.setup-content {
    justify-content: center;
    align-items: center;
}
@keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
@media screen and (min-width: 480px) {
    .col-p {
        flex-basis: 100%;
        max-width: 980px;
    }

    .popup {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.checkmark-popup {
    padding: 0;
    margin: 0;
}

.wrapper-popup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark-popup {
    width: 120px;
    height:120px;
    border-radius: 50%;
    display: block;
    stroke-width: 3;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 100px #7ac142;
    }
}

  /* CSS */
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #4636fc;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 300px;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #5170FD;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #5170FD;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
