nav {
  display: flex;
  border-bottom: 3px solid #f3f3f3;
  background: #ffffff;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.back-icons,.nav-icons{
  width: 2em;
  height: 2em;
}
.profile-container{
  display: flex;
  gap: 1em;
}
.topic{
  font-size: 2em;
}
.profile-container, .back-icons{
  margin: 20px;
}
